/vendor
/node_modules
.env
.env.backup
.env.production
# .env.* (Avoided to allow .env.example)
*.log
.DS_Store
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/public/storage
/.idea
/.vscode
composer.lock
package-lock.json
